@charset "UTF-8";

#root {
  width: 100%;
  height: 100%;
}

$screenWidth: 2560px;
$screenHeight: 1440px;

@font-face {
  font-family: '思源宋体';
  src: url('../fonts/SourceHanSerifCN-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LXGW';
  src: url('../fonts/LXGWWenKai-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'WebgalUI';
  src: url('../fonts/OPPOSans-R.ttf') format('truetype');
}

.StartButton {
  animation: StartButton_blink 4s infinite;
}

@keyframes StartButton_blink {
  0% {
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.65);
  }
  50% {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  }
  100% {
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.65);
  }
}

a {
  transition: color 1s;
}

a:link {
  color: #434343;
}

a:visited {
  color: #434343;
}

a:hover {
  color: #434343;
}

a:active {
  color: #434343;
}

body {
  background-color: #000;
  font-size: 16px;
  margin: 0;
  font-family: 'WebgalUI', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#webgal-root {
  width: $screenWidth;
  height: $screenHeight;
  overflow: hidden;
  font-size: 160%;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 12px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.App {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 1);
  overflow: hidden;
  perspective: 0;
  -webkit-overflow-scrolling: auto;
}

#pixiCanvas {
  z-index: 5;
}
