#Title_enter_page {
  width: 2560px;
  height: 1440px;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 14;
  opacity: 1;
  transition: opacity 1.5s;
}

#Title_bg_container {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
  top: 0;
  opacity: 1;
  transition: opacity 1s;
}

#Title_white_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.25) 100%
  );
  transition: opacity 1s;
}

#Title_enter_text {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 1;
  font-size: 175%;
  transition: opacity 1s;
  z-index: 15;
  font-family: '思源宋体', Georgia, serif;
}

#Title_enter_text > div.toCenter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Title_enter_text > div.toCenter > div.StartButton {
  letter-spacing: 0.25em;
  padding: 2em 2em 2em 2em;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transition: text-shadow 1s;
  font-size: 175%;
}

#Title_enter_text > div.link-to-github {
  position: absolute;
  bottom: 1em;
  color: #999;
  font-size: 75%;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: column;
  align-items: center;
}

#Title_enter_text > div.link-to-github > div {
  padding: 0 0 0.25em 0;
}
