.title-enter-page__effect-background {
  height: 100vh;
  width: 100vw;
  filter: blur(50px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.title-enter-page__title-enter {
  width: 2560px;
  height: 1440px;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 14;
  opacity: 1;
  transition: opacity 1.5s;
}

.title-enter__initial-background {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
  top: 0;
  opacity: 1;
  transition: opacity 1s;
}

.title-enter__white-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.25) 100%
  );
  transition: opacity 1s;
}

.title-enter__container {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 1;
  font-size: 175%;
  transition: opacity 1s;
  z-index: 15;
  font-family: '思源宋体', Georgia, serif;
}

.title-enter-container__center-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-enter-container__center-text > div {
  letter-spacing: 0.25em;
  padding: 2em 2em 2em 2em;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transition: text-shadow 1s;
  font-size: 175%;
  animation: title-enter-container__center-text--blink 4s infinite;
}

@keyframes title-enter-container__center-text--blink {
  0% {
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.65);
  }
  50% {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  }
  100% {
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.65);
  }
}

.title-enter-container__link-to-github {
  position: absolute;
  bottom: 1em;
  color: #999;
  font-size: 75%;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: column;
  align-items: center;
}

.title-enter-container__link-to-github > div {
  padding: 0 0 0.25em 0;
}
